<script>
$(function (){
  /*$('label').css('color','red');*/
  /*$('#add_payer').click(function(){$('#payers').append($('.templ_payer:eq(0)').clone().css('display','')); })*/
  $('#activity_cost').change(function(){$('#payamount1').attr('value',$('#activity_cost').val())});

});

var payercount=1;
function addNewPayer()
{

  var newpayer=$('#payer1').clone();
  $('#payers').append(newpayer);

  newpayer.attr('id','payer'+(++payercount));
  newpayer.children().eq(3).attr('readonly','');
  return;
  $('.payername:last').attr('id','payername'+(payercount));
  $('.payamount:last').attr('id','payamount'+(payercount));
  $('.payername:last').attr('name','payer'+(payercount));
  $('.payamount:last').attr('name','payamount'+(payercount));
  newpayer.children().eq(1).attr('value','');
  /*payername.focus();*/
  /*newpayer('input :eq(0)).attr('name','payer2');*/
}

function validate_activity()
{


if($('#payamount1').val()==null || $('#payamount1').val() == "")
  {
    $('#payer1').addClass('field_with_errors');
    alert("Need one payment at least!");
    $('#payamount1').focus();
    return false;
  }

  return true;
}
function debug()
{
  /*alert($('#payamount1').val());*/
  var test1=document.getElementById('payername1');
  alert(test1.selectedIndex);
  test1.selectedIndex=2;
}
</script>

<%= form_for @activity do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <% if @activity.id %>
    <p>
      <%= f.label :status %><br />
      <%= f.text_field :status %>
    </p>
  <% end %>
  <p>
    <%= f.label :cost %><br />
    <%= f.number_field :cost %>
  </p>
  <p>
    <%= f.label :detail %><br />
    <%= f.text_field :detail %>
  </p>
  <p>
    <%= f.label "Payers"%><br/>
    <span style='background-color:#eeeeee;'>The first payer in following list will be taken as the final payer(who gave the money to the waiter or pay by credit card).</span>
  </p>
    <%= render 'payers' %>


  <p><%= f.submit "Create", :onclick => "return validate_activity()"%></p>
<input onclick="debug();" type="button" value="debug">
<% end %>
