<script>
$(function (){
  /*$('label').css('color','red');*/
  $('#add_payer').click(function(){$('#payers').append($('.templ_payer:eq(0)').clone().css('display','')); })
});

function addNewPayer()
{
  $('#payers').append($('.templ_payer:eq(0)').clone().css('display',''));
}

</script>

<%= form_for @activity do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :detail %><br />
    <%= f.text_field :detail %>
  </p>
  <p>
    <%= f.label :cost%><br />
    <%= f.number_field :cost,{:step=>1,:min=>1}%>
  </p>
  <p>
    <%= f.label "Paticipants"%><br />
    <%= f.text_field :user_names%>
  </p>
  <p>
    <%= f.label "Payers"%><br/>
  </p>
    <%= render 'payers' %>


  <p><%= f.submit %></p>
<% end %>
