<% title "Activities" %>

<table>
  <tr>
    <th>Subject</th>
    <th>Status</th>
    <th>Detail</th>
  </tr>
  <% for activity in @activities %>
    <tr>
      <td><%= activity.subject %></td>
      <td><%= activity.status %></td>
      <td><%= activity.detail %></td>
      <td><%= link_to "Show", activity %></td>
      <td><%= link_to "Edit", edit_activity_path(activity) %></td>
      <td><%= link_to "Destroy", activity, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
$(function(){
  $("#list").jqGrid({
    url:'activities.xml?from=jqgrid',
    datatype: 'xml',
    mtype: 'GET',
    colNames:['Subject', 'Status','Cost','Date'],
    colModel :[
      {name:'subject',search:true, index:'subject', width:190},
      {name:'status', index:'status', width:80, align:'right'},
      {name:'cost', index:'cost', width:80, align:'right'},
      {name:'created_at', index:'created_at', width:200, align:'right'},
    ],
    pager: '#pager',
    rowNum:10,
    rowList:[10,20,30],
    sortname: 'id',
    sortorder: 'desc',
    viewrecords: true,
    caption: 'Our Activities',
  }).navGrid('#pager',{search:true, edit:false, add:false, del:false});
/*jQuery("#list").jqGrid('searchGrid', {multipleSearch:true} );*/
jQuery("#list").jqGrid('filterToolbar',{});

});






</script>
<table id="list" width="100%"></table>
<div id="pager"></div>


<p><%= link_to "New Activity", new_activity_path %></p>
