<% title "Activities" %>

<p>
  <strong>Subject:</strong>
  <%= @activity.subject %>
</p>
<p>
  <strong>Status:</strong>
  <%= @activity.status %>
</p>
<p>
  <strong>Cost:</strong>
  <%= @activity.cost %>
</p>
<p>
  <strong>Average:</strong>
  <%= @activity.cost/@activity.payers.size unless @activity.payers.empty?%>
</p>
<p>
  <strong>Detail:</strong>
  <%= @activity.detail %>
</p>
<p>
  <strong>Participants:</strong>
  <%= @activity.payer_names %>

<p>
<div>
  <strong>Payments Details:</strong>
  <table>
    <tr>
      <th>member</th>
      <th>payed</th>
      <th>debts</th>
    </tr>
    <% payers_count = @activity.payers.size %>
    <% average = @activity.cost / payers_count %>
    <% for payment in @activity.payments %>
      <tr>
         <td><%=payment.user.username%></td>
         <td><%=payment.amount%></td>
         <td><%=average-payment.amount%></td>
      </tr>
    <% end%>

  </table>

</div>

  <%= link_to "Edit", edit_activity_path(@activity) %> |
  <%= link_to "Destroy", @activity, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", activities_path %>

